---
---

body
  font-family: Vollkorn, serif
  font-size: 20px

.container
  width: 700px


a
  color: black

  &.navbar-brand
    font-weight: bold
    font-size: 24px

.post-wrapper
    margin-top: 1rem

    .post-header
        h1
            font-family: Vollkorn, serif
