body {
    font-family: Leto, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: $gray;
}

a {
    text-decoration: none;
    color: $teal;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 700px;
}

.content {
    background-color: $white;
}

.container {
    max-width: $content-width;
    margin: 0 auto;
}
