.home {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: Leto, sans-serif;

    h3 {
        font-style: italic;
        font-weight: 300;
        color: $dimgray;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 2rem;
        li {
            a {
                color: $black;
                line-height: 2;
            }
        }
    }

    .post {

        a {
            color: $black;
            text-decoration: none;
            line-height: 2em;
            display: inline-block;
            margin-left: 1em;

            &:hover {
                text-decoration: underline;
            }
        }
        .post-date {
            font-size: .8rem;
            font-style: italic;
            display: inline-block;
        }
    }
}
