.masthead {
    background-color: $header-color;
    font-family: Leto, sans-serif;
    color: $white;

    .container {
        padding: 3rem 0;
        text-align: center;
        width: 400px;
    }
}

.navbar {
    background-color: $white;
    padding: 0;
    font-family: Leto, sans-serif;

    .container {
        ul {
            margin: 0;
            display: flex;
            list-style-type: none;

            li {
                flex: 1 1 0;
                text-align: center;
                padding: 2rem 0;

                a {
                    color: $black;
                    text-transform: uppercase;
                    font-size: .9rem;
                }
            }
        }
    }
}
