.post-wrapper {
    width: 700px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1, h2, h3 {
        font-family: Lato, sans-serif;
        margin: 0;
    }

    .post-header {
        h1 {
            padding-top: 0;
            padding-bottom: .8rem;
        }
    }

    .post-content {
        h1, h2, h3 {
            padding-top: 2rem;
            padding-bottom: .8rem;
        }
    }
}
