.post-wrapper {
    width: 700px;
    margin: 0 auto;

    h1, h2, h3 {
        font-family: Lato, sans-serif;
    }

    .post-content {
        h1, h2, h3 {
            margin-top: 2rem;
        }
    }
}
