<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="content">
        <section class="post-wrapper home">
            {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %B'"  %}
            {% for yearMonth in postsByYearMonth %}
                <h3>{{ yearMonth.name }}</h3>
                <ul>
                    {% for post in yearMonth.items %}
                    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
          </section>
    </div>
    {% include footer.html %}
  </body>
</html>
