<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="post-wrapper home">
        <div class="container">
          {% for post in site.posts %}
          <div class="row post">
            <div class="col">

              <p><a href="{{site.baseurl}}{{post.url}}">{{post.title}} <span class="post-date">{{ post.date | date_to_string }}</span></a></p>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>

    {% include footer.html %}
  </body>
</html>
